<!DOCTYPE html>
<html lang="es">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <main>
        <ul>
            <li v-for="tarea in tareas"> {{tarea}} </li>
        </ul>
        <form v-on:submit.prevent="agregarTarea">
            <input type="text" name="" value="" placeholder="introduce tarea" v-model="nuevaTarea">
            <button type="submit">Agregar nueva</button>
        </form>

        <pre>
            {{$data}}
        </pre>
    </main>
    <script src="main_coffee.js"></script>
</body>

</html>