<!DOCTYPE html>
<html lang="es">

<head>
    <title>VUE aplicando lo aprendido</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Agregar tareas</h1>
    <main>
        <form v-on:submit.prevent="addNewWork">
            <input type="text" name="" value="" v-model="newWork">
            <button type="submit">Agregar nuevo trabajo</button>
        </form>
        <ul>
            <li v-for="item in items">
                {{item}}
            </li>
        </ul>
    </main>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main_j.js"></script>
</body>

</html>